<%- include('../partials/_header') %>
<%- include('../components/navbar') %>

<main class="container mt-5">
  <%- include('../partials/_flash') %>
  <%-body%>
</main>

<%- include('../partials/_scripts') %>
<%- include('../partials/_footer') %>